html, body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

.dropdown{
    width: 100%;
}


/* Dropdown Button */
.dropbtn {
    width: 100%;
    background-color: #001b3b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #001b3b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: None;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-top: 2px solid white;

    width: 100%;
    display: none;
    position: absolute;
    background-color: #001b3b;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    text-align: center;

    border-top: 1px dashed white;

    width: 100%;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.topnav {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #001b3b;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0068e8;
  color: white;
}

.topnav a.active {
  background-color: #0068e8;
  color: white;
}

.topnav-centered a {
    background-color: #0068e8;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}


.content {
    padding-top: 48px;

    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}



/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 860px) {

    .topnav{
        display: None;
  }

    .dropdown {
        display: inline-block;
  }

}