html, body {
  height: 100%;
  overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.menu {
    background-color: #001b3b;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100px;
    min-height: 100%;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: -20px;
}

.menu .main_menu a {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu .back_menu a {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


#main_url {
    border-bottom: 2px dotted #424b54;
}
#moderators_url{
    border-top: 2px dotted #424b54;
}

.main_menu, .back_menu {
    display: flex;
    flex-direction: column;
}

.back_menu{
    margin-bottom: 10px;
}

a:active, a:hover, a {
    text-decoration: none;
    color: white;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
