<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Главная страница</title>
</head>
<body>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Меню</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="/">Гл. Страница</a>
            <a href="/search">Поиск</a>
            <a href="/media">Медиа файлы</a>
            <a href="/add">Добавить</a>
            <a href="/moderators">Модерация</a>
            <a href="/settings">Настрйоки</a>
            <a href="/profile">Профиль</a>

        </div>
    </div>
    <div class="topnav">
        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="/" class="active">Гл. страница</a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="/search">Поиск</a>
        <a href="/media">Медиа</a>
        <a href="/add">Добавить</a>


         <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="/moderators">Модерация</a>
            <a href="/settings">Настрйоки</a>
            <a href="/profile">Профиль</a>
        </div>

    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>