{% extends "base.html" %}

{% block content %}
<div class="login_form">
    <h1>Авторизация</h1>
    <form action="" method="post" id="form_login">
        {{ form.hidden_tag() }}
                <p>
                    {{ form.Email(class="form-control", type="email", id="form_email", placeholder="Эл. почта") }}<br>
                    {% for error in form.Email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.Key(class="form-control", id="form_email", placeholder="Ключ") }}<br>
                    {% for error in form.Key.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
            <div class="form_login_submit"><p>{{ form.submit(type="submit", class="btn btn-primary", id="form_login_submit")}}</p></div>
            <div class="error_message">{{ message }}</div>
    </form>
</div>
{% endblock %}