{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/profile_style.css">
    <div class="headfon"></div>
    <div class="profile_content">
        <div class="server_information">
            <img class="logo" id="Logo_ServInf" src="{{ url_for('static', filename='img/test3.jpg') }}" alt="ФП">
        </div>
        <div class="user_information">
            <img class="logo" id="Logo_UserInf" src="{{ url_for('static', filename='img/test3.jpg') }}" alt="ФП">
        </div>
    </div>
{% endblock %}